
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
}

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

    /* KONIEC TREŚCI ZADANIA */

    .header {
    text-align: center;
    padding: inherit;
    background-color: #a52a2a;
    color: plum;
}
/* menu */

/*MENU - lista*/
.menu {
    display: flex;
    justify-content: center;
    background-color: #a52a2a;
    z-index: 5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#mainmenu, #mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #mainmenu ul {
        width: 160px;
    }

        #mainmenu ul li {
            clear: both;
        }

    #mainmenu > li {
        float: left;
        margin-right: 10px;
        position: relative;
    }

        #mainmenu > li li {
            position: relative;
        }

        #mainmenu > li ul {
            position: absolute;
            left: 0;
        }

            #mainmenu > li ul li ul {
                position: absolute;
                left: 160px;
            }

ul ul {
    display: none;
}

ul li:hover > ul {
    display: block;
    z-index: 5;
}   
    /* NAWIGACJA*/
    .nav {
    font-size: 24px;
    font-family: calibri;
    height: auto;
    display: flex;
    background-color: #a52a2a;
    text-align: center;
    padding: inherit;
    margin: 0 auto;
}

#mainmenu {
}

    #mainmenu > li > a {
        padding: 2px;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        color: #ebe7eb;
    }

    #mainmenu > li:hover > a {
        background: #B32434;
        color: #ebe7eb;
    }

    /*POZIOMY NIŻSZE*/
    #mainmenu ul {
        font-size: 16px;
        border-radius: 3px;
        background: #9E2B29;
    }

        #mainmenu ul li > a {
            color: #ebe7eb;
            display: block;
            padding: 5px;
            border-radius: 3px;
            text-decoration: none;
        }

        #mainmenu ul li:hover > a {
            color: #eee;
            background: #B32434;
        }

      /*Stopka*/
.footer {
    background-color: #a52a2a;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    clear: both;
    width: 100%;
    margin: 50px auto 0;
    padding: 1em 0;
    font-size: 12px;
    line-height: 1.5;
    border-top: 1px solid #ccc;
}

/*galeria*/
.galeria {
    background-color: #696969;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo {
    background-color: #000;
    margin: 10px;
    width: 100%;
    padding: 10px;
    opacity: 0.65;
    border: 1px solid silver;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    z-index: 1;
}


    .photo figcaption {
        margin-top: 16px;
    }

    /*"animacje galerii"*/
    .photo:hover {
        opacity: 1;
        transition: 0.3s all linear;
        transform: scale(1.05);
        z-index: 15;
    }
/*koniec*/
