body {
	background-color: black;
	background-image: url("wegiel2.jpg");
	background-attachment: fixed;
	color: whitesmoke;
	background-position: center;
	margin:0 auto;
	margin:0 auto;
	display: block;
	margin-left:25%;
	margin-right:15%;
	position: absolute;
	align-items:center;
}
.header {
text-align:center;
padding:inherit;
background-color:brown;
color:plum;
}
.zadanie {
	width: 100%;
	margin: 0 auto;
	float: left;
	background-color: dimgrey;

}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h1 {
text-align:center;
}
/*.main {
display:block;
margin-left:5%;
margin-right:5%;
margin-top:10%;
text-align:center
}*/
.footer {
background-color:brown;
color:yellow;
text-transform:uppercase;
font-weight:bold;
}