body {
    background-color: black;
    background-image: url("galeria/wegiel.jpg");
    background-attachment: fixed;
    color: whitesmoke;
    background-position: center;
    margin: 0 auto; 
    display: block;
    margin-left: 15%;
    position: absolute;
    align-items: center;
    width: 70%;
	cursor: default;
	
}
::-webkit-scrollbar {
    width: 4px;
    -webkit-transition: all 30ms;
    transition: all 30ms;
}
::-webkit-scrollbar-track {
    background-color: #00007c;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #ffb428;
    border-left: 1px solid #00007c;
    border-right: 1px solid #00007c;
}
::-ms-scrollbar {
    width: 4px;
    -webkit-transition: all 30ms;
    transition: all 30ms;
}
::-ms-scrollbar-track {
    background-color: #00007c;
}
::-ms-scrollbar-thumb {
    border-radius: 4px;
    background: #ffb428;
    border-left: 1px solid #00007c;
    border-right: 1px solid #00007c;
}
::-moz-scrollbar {
    width: 4px;
    -webkit-transition: all 30ms;
    transition: all 30ms;
}
::-moz-scrollbar-track {
    background-color: #00007c;
}
::-moz-scrollbar-thumb {
    border-radius: 4px;
    background: #ffb428;
    border-left: 1px solid #00007c;
    border-right: 1px solid #00007c;
}

h1 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}
img {
    width: 387px;
    height: 259px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.main {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    text-align: center;
}



/*MENU - lista*/
.menu {
    display: flex;
    justify-content: center;
    background-color: #a52a2a;
    z-index: 5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#mainmenu, #mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

    #mainmenu ul {
        width: 160px;
    }

        #mainmenu ul li {
            clear: both;
        }

    #mainmenu > li {
        float: left;
        margin-right: 10px;
        position: relative;
    }

        #mainmenu > li li {
            position: relative;
        }

        #mainmenu > li ul {
            position: absolute;
            left: 0;
        }

            #mainmenu > li ul li ul {
                position: absolute;
                left: 160px;
                
            }

ul ul {
    display: none;
}

ul li:hover > ul {
    display: block;
    z-index:5;
}
/*          1 linia menu */
.nav {
    font-size: 24px;
    font-family: calibri;
    height: auto;
    display: flex;
    background-color: #a52a2a;
    text-align: center;
    padding: inherit;
    margin: 0 auto;
}
#mainmenu {
}

    #mainmenu > li > a {
        padding: 2px;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        color: #ebe7eb;
    }

    #mainmenu > li:hover > a {
        background: #B32434;
        color: #ebe7eb;
    }

    /*POZIOMY NIŻSZE*/
    #mainmenu ul {
        font-size: 16px;
        border-radius: 3px;
        background: #9E2B29;
    }

        #mainmenu ul li > a {
            color: #ebe7eb;
            display: block;
            padding: 5px;
            border-radius: 3px;
            text-decoration: none;
        }

        #mainmenu ul li:hover > a {
            color: #eee;
            background: #B32434;
        }
        /*strzałi pokazujące rozwijane menu*/
/*.arrow {
    display: inline-block;
    margin: 0 5px 0;
    height: 0;
    vertical-align: top;
    content: "";
    position: absolute;
}
#mainmenu > li > a > .arrow {
    top: 17px;
    right: 0;
    margin-right: -8px;
    border-top: 3px solid #333;
    border-right: 3px solid transparent;
    border-left: 3px solid transparent;
}

ul ul .arrow {
    top: 10px;
    right: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    border-left: 3px solid #333;
    border-bottom: 3px solid transparent;
}*/
/*Koniec Menu*/

.header {
    text-align: center;
    padding: inherit;
    background-color: #a52a2a;
    color: plum;
}

.zadanie {
    width: 100%;
    margin: 0 auto;
    float: left;
    background-color: #696969;
}
.mapa 
{
    width:98%;
    min-height:500px;
    height:90%;

}

/*Stopka*/
.footer {
    background-color: #a52a2a;
    color: yellow;
    text-transform: uppercase;
    font-weight: bold;
    clear: both;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    font-size: 12px;
    line-height: 1.5;
    border-top: 1px solid #ccc;
}
/*ikony*/
.socials
{
margin: 0 auto;
padding: 5px;
}
.icon-btn {
    color: #FFFFFF;
    border: none;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
}
.facebook
{
    color:#3B5998
}
    .facebook:hover {
        background-color: #3B5998;
        transform: scale(1.10);
        color: #FFFFFF
    }
.instagram {
    color: #F77737;
}
    .instagram:hover {
        background-image: linear-gradient(to right bottom, #405DE6, #5851DB, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);
        background-color: #F77737;
        transform: scale(1.10);
        color: #FFFFFF
    }
.github {
    color: #4183C4;
}
.github:hover 
{
    transform:scale(1.1);
    color:#FFFFFF;
    background-color: #4183C4;
}
/*galeria*/
.galeria {
    background-color: #696969;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo {
    background-color: #000;
    margin: 10px;
    width: 40%;
    padding: 10px;
    opacity: 0.65;
    border: 1px solid silver;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-height: 3%;
    z-index: 1;
}

    .photo img {
        width: 20%;
        flex-basis: 100%;
    height: 300px;
    }

    .photo figcaption {
        margin-top: 16px;
    }

    /*"animacje galerii"*/
    .photo:hover {
        opacity: 1;
        transition: 0.3s all linear;
        transform: scale(1.5);
        z-index: 2;
    }
/*koniec*/